<link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png">
<title>Signin</title>
<!-- Bootstrap core CSS -->
{{!--
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet"> --}}
<!-- Custom styles for this template -->
{{!--
<style>
    body {
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
        margin-top: 15%;
        margin-left: 38%;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }
</style> --}}
</head>

<body>
    <div class="container">
        <form class="form-signin">
            <h2>{{title}}</h2>
            <a href="/auth/github" class="btn btn-primary" style="font-size: 15px;">Github</a>
        </form>
    </div>
</body>